# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
ENV/
env/
.venv/

# Environment & sensitive files
.env
credentials/google_credentials.json
credentials/gmail_secret.json

# VSCode settings (optional)
.vscode/
