# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Config files with credentials
.env
credentials/google_credentials.json
credentials/token.json

# Logs
logs/*.txt

# VSCode settings (optional)
.vscode/settings.json